
<div class="w-full mx-auto">
    <form method="POST" action="{% url 'create_comment' %}" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" style="font-family: 'Montserrat', sans-serif;">
        {% csrf_token %}
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="comment">
                Comment
            </label>
            <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="comment" name="text" placeholder="Write your comment here..."></textarea>
            {% if form.text.errors %}
            <p class="text-red-500 text-xs italic">{{ form.text.errors.0 }}</p>
            {% endif %}
        </div>
        <div class="flex items-center justify-between">
            <button class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Post Comment
            </button>
        </div>
    </form>
</div>

