{% extends 'base.html' %}

{% block content %}
<div class="w-full max-w-xs mx-auto">
    <form method="POST" action="{% url 'register' %}" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        {% csrf_token %}
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                Username
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" name="username" type="text" placeholder="Username" >
            {% if form.username.errors %}
            <p class="text-red-500 text-xs italic">{{ form.username.errors.0 }}</p>
            {% endif %}
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                Email
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" name="email" type="email" placeholder="Email">
            {% if form.email.errors %}
            <p class="text-red-500 text-xs italic">{{ form.email.errors.0 }}</p>
            {% endif %}
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                Password
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password" name="password" type="password" placeholder="Password">
            {% if form.password.errors %}
            <p class="text-red-500 text-xs italic">{{ form.password.errors.0 }}</p>
            {% endif %}
        </div>

        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password_confirm">
                Confirm Password
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password_confirm" name="password_confirm" type="password" placeholder="Confirm Password">
            {% if form.password_confirm.errors %}
            <p class="text-red-500 text-xs italic">{{ form.password_confirm.errors.0 }}</p>
            {% endif %}
        </div>

        <div class="flex items-center justify-between">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Register
            </button>
        </div>

        {% if form.non_field_errors %}
        <p class="text-red-500 text-xs italic mt-4">{{ form.non_field_errors.0 }}</p>
        {% endif %}
    </form>
</div>
{% endblock %}
